<h1>Nowa osoba</h1>

<%= form_for @person do |f| %>
  <%= f.label :first_name, "Imię" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Nazwisko" %>
  <%= f.text_field :last_name %>
  <%= f.label :date_of_birth, "Data urodzenia" %>
  <%= f.text_field :date_of_birth %>
  <%= f.submit "Dodaj" %>
<% end %>
