<h1>Osoba: <%= @person.display_name %></h1>

<% if @person.date_of_birth %>
<p>Data urodzenia: <%= @person.date_of_birth %></p>
<% end %>
<% if @person.date_of_death %>
<p>Data śmierci: <%= @person.date_of_death %></p>
<% end %>

<% author_of = @person.author_of %>
<% unless author_of.empty? %>
<p>Autor:</p>
<ul>
  <% author_of.each do |p| %>
  <li><%= link_to_publication p %></li>
  <% end %>
</ul>
<% end %>

<% translator_of = @person.translator_of %>
<% unless translator_of.empty? %>
<p>Tłumacz:</p>
<ul>
  <% translator_of.each do |p| %>
  <li><%= link_to_publication p %></li>
  <% end %>
</ul>
<% end %>

<% illustrator_of = @person.illustrator_of %>
<% unless illustrator_of.empty? %>
<p>Ilustrator:</p>
<ul>
  <% illustrator_of.each do |p| %>
  <li><%= link_to_publication p %></li>
  <% end %>
</ul>
<% end %>
