<% content_for :head do %>
  <%= stylesheet_link_tag "register-login.css" %>
<% end %>

<div id="page">

<div id="help-area">
  Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Sed lacus dui, plac.
  <br /><br />
  Porttitor a, tincidunt ut purus. Pellent es que ut ullamcorper turpis. In hac ha btasse platea dictumst. Nam mollis magna at aug ue viverra nec sollicitu din neque molestie. Aliquam fermen.
</div>

<%= render 'sessions/new' %>

<section id="registration-widget">
  <h1>Zarejestruj się!</h1>
  <%= form_for @user, :html => { :onsubmit => "return checkform(this)" } do |f| %>
    <div>
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password, :maxlength => 40, :min => 6 %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Potwierdź hasło" %>
      <%= f.password_field :password_confirmation, :maxlength => 40, :min => 6 %>
    </div>
    <%= f.submit "Załóż konto" %>
  <% end %>
</section>
</div>
