<% content_for :head do %>
  <%= stylesheet_link_tag "book" %>
<% end %>

<div class="book-details container_12">
	<div class="main-column">
		<a class="button favorite" title="Dodaj do ulubionych"></a>
		<h1 class="h"><%= @publication.title %></h1>
		<h6 class="d"><strong>Autor:</strong> <%= @publication.authors.collect { |a| link_to_person(a) }.join(", ").html_safe unless @publication.authors.empty? %></h6>
		<div class="description">
		  <p><%= @publication.most_popular_editions[0].description %></p>
		</div>
		<% unless @publication.most_popular_editions.empty? %>
		<h5>Najpopularniejsze wydania</h5>
		<a>zobacz wszystkie wydania</a>
		<%= render :partial => 'most_popular_edition', :collection => @publication.most_popular_editions, :as => :edition %>
		<% else %>
		Brak informacji o wydaniach tej publikacji.
		<% end %>
	</div>
	<div class="descr-column">
	  <% if @publication.cover %>
	  <%= image_tag @publication.cover.image_url(:cover), :class => 'cover' %>
	  <% else %>
	  <%= image_tag "/images/fallback/cover_default.png", :class => 'cover' %>
	  <% end %>
	  <% @publication.page_pictures.each do |i| %><%= image_tag i.image_url(:thumb), :class => 'mini' %><% end %>
		<h5></h5>
		<span>
		<a>dla dzieci</a> <br />
		<a>proza obca</a> > <a>powieść</a>
		</span>
		<h5></h5>
		<div class="cloud">
		<a class='tag s1'>1001 books you must read before you die</a> 
		<a class='tag s4'>19th century</a> 
		<a class='tag s2'>adventure</a> 
		<a class='tag s3'>alice</a> 
		<a class='tag s4'>alice in wonderland</a> 
		<a class='tag s2'>allegory</a> 
		<a class='tag s1'>alternate reality</a> 
		<a class='tag s4'>animals</a> 
		<a class='tag s5'>british</a> 
		<a class='tag s2'>british literature</a> 
		<a class='tag s3'>carroll</a> 
		<a class='tag s5'>childhood</a> 
		<a class='tag s2'>childhood favorite</a> 
		<a class='tag s4'>children</a> 
		<a class='tag s1'>children’s</a> 
		<a class='tag s2'>children’s classic</a>
		</div>
	</div>
</div>
	<div class="add-column">
		<div class="user-book-details">
			<h5>Społeczność</h5>
			<a class="button do-not-like selected"></a><a class="button do-like"></a>
			<div>
				<span class="help">Oznacz książkę, aby w przyszłości łatwiej ją znaleźć</span>
				<span class="button tag">Mam</span>
				<span class="button tag selected">Nie&nbsp;mam</span>
				<span class="button tag">Oddam</span>
				<span class="button tag">Chcę&nbsp;przeczytać</span>
				<span class="button tag selected">Nie&nbsp;chcę&nbsp;przeczytać</span>
			</div>
		</div>
	<h5>Adds</h5>
	  isl enim, pellentesque vitae volutpat auctor, egestas in ligula. Aliquam erat 
		volutpat. Sed mollis velit sit amet neque dictum porttitor. Donec vel eros lacus. 
		Nulla bibendum, sem nec lobortis iaculis, dui massa elementum sem, ut eleifend metus 
		est ac odio. Sed rhoncus, nisl a euismod mollis, ligula quam imperdiet justo, id 
		sagittis quam augue sit amet felis

<% other_books = @publication.authors_other_books %>
<% if other_books %>
  <% if other_books.size > 1 %>
	  <h5>Inne książki tych autorów</h5>
	<% else %>
    <h5>Inne książki tego autora</h5>
	<% end %>
	<% other_books.each do |a, b| %>
    <% unless b.empty? %>
    <ul>
	    <li><%= link_to_person(a) %>
	      <ul>
	      <% b.each do |book| %>
	        <li><%= link_to_publication(book) %></li>
        <% end %>
	      </ul>
      </li>
	  </ul>
	  <% end %>
  <% end %>
<% end %>
	</div>
	
	<script>
	// button - id elementu przeciwnego
		jQuery(".tag")
			.mousedown(function() { jQuery(this).toggleClass('click') })
			.mouseup(function() { jQuery(this).toggleClass('click') })
			.click(function() { jQuery(this).toggleClass('selected') })
		jQuery(".favorite")
			.mousedown(function() { jQuery(this).toggleClass('click') })
			.mouseup(function() { jQuery(this).toggleClass('click') })
			.click(function() { jQuery(this).toggleClass('selected') })
		jQuery(".do-not-like")
			.mousedown(function() { jQuery(this).toggleClass('click') })
			.mouseup(function() { jQuery(this).toggleClass('click') })
			.click(function() { jQuery(this).toggleClass('selected') })
		jQuery(".do-like")
			.mousedown(function() { jQuery(this).toggleClass('click') })
			.mouseup(function() { jQuery(this).toggleClass('click') })
			.click(function() { jQuery(this).toggleClass('selected') })
	</script>
